<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ThreadTest2/src/cn/itcast/heima2/CallableAndFuture.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.itcast.heima2.CallableAndFuture"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ThreadTest2"/>
</launchConfiguration>
